<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Tutoriales de la herramienta</h2>

      <div *ngIf="!agregaTutorial">
        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="agregaTutorial=true">Agregar</button>
        </div>

        <div class="col-12">
          <div class="table-wrapper">
            <br/>
            <table>
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Url</th>
                  <th>Commentario</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tutorials of TutorialList">
                  <td>{{tutorials.name}}</td>
                  <td>
                    <a href="{{tutorials.url}}" target="_blank">{{tutorials.url}}</a>
                  </td>
                  <td>{{tutorials.commentary}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>





      <div class="container-fluid offset-md-2">

      <form (ngSubmit)="onSubmit(frmTutorial)" #frmTutorial="ngForm" *ngIf="agregaTutorial">
          
        <div class="row  ">          
            <mat-form-field class="col-12 col-md-4">
              <input matInput type="text"  name="txtNombre" [(ngModel)]="tutorial.name" placeholder="Nombre" id="txtNombre" value="" required #txtNombre="ngModel"
              />
              <mat-error  *ngIf="txtNombre.invalid">Nombre es requerido.</mat-error>
            </mat-form-field>
         
            <mat-form-field class="col-12 col-md-4">
              <input matInput type="url" name="txtUrl" [(ngModel)]="tutorial.url" id="txtUrl" required placeholder="Url" #txtUrl="ngModel" />              
              <mat-error *ngIf="txtUrl.invalid">Url es requerida</mat-error>
            </mat-form-field>          
        </div>

        <div class="row">          
            <mat-form-field class="col-6 col-md-4">
              <textarea matInput name="txtComentario" [(ngModel)]="tutorial.commentary" ng-value="" maxlength="250" placeholder="Comentario">                    
              </textarea>
            </mat-form-field>          
        </div>

        <div class="col-12 col-md-8 offset-md-4">          
          <button mat-raised-button color="warn" type="button"  (click)="agregaTutorial=false" >
              <mat-icon aria-label="icon-button">clear</mat-icon>
            Cancelar</button>
          <button mat-raised-button color="primary" type="submit"  [disabled]="!frmTutorial.form.valid" >
              <mat-icon aria-label="icon-button">send</mat-icon>
            Guardar</button>
        </div>
        
      </form>
      </div>

    </header>
  </div>
</section>