<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Tutoriales de la herramienta</h2>

      <div *ngIf="!agregaTutorial">
        <div class="col-12" >
          <button type="button" class="btn btn-primary" (click)="agregaTutorial=true">Agregar</button>
        </div>

        <div class="col-12">
          <div class="table-wrapper" >
            <br/>
            <table>
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Url</th>
                  <th>Commentario</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tutorials of TutorialList">
                  <td>{{tutorials.name}}</td>
                  <td><a href="{{tutorials.url}}" target="_blank">{{tutorials.url}}</a></td>
                  <td>{{tutorials.commentary}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>


      

      

      <form (ngSubmit)="onSubmit(frmTutorial)" #frmTutorial="ngForm" *ngIf="agregaTutorial" >
        <div class="row">
          <div class="col-6 col-12-xsmall">
            <input type="text" name="txtNombre" [(ngModel)]="tutorial.name" placeholder="Nombre *" id="txtNombre" value="" required  #txtNombre="ngModel"
            />
            <div [hidden]="txtNombre.valid || txtNombre.pristine" class="alert alert-danger">
              Nombre es requerido.
            </div>
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="url" name="txtUrl" [(ngModel)]="tutorial.url" id="txtUrl" required placeholder="Url *" #txtUrl="ngModel" />
            <div [hidden]="txtUrl.valid || txtUrl.pristine" class="alert alert-danger">
              Url es requerida.
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-6 col-12-xsmall">
            <br/>
            <textarea name="txtComentario" [(ngModel)]="tutorial.commentary" ng-value="" maxlength="250" placeholder="Comentario">
                    
            </textarea>
          </div>
        </div>

        <div class="col-6 col-12-xsmall">
          <br/>
          <button type="button" class="btn btn-danger" (click)="agregaTutorial=false">Cancelar</button>
          <button type="submit" class="btn btn-success" [disabled]="!frmTutorial.form.valid">Guardar</button>
        </div>
      </form>

    </header>
  </div>
</section>