<div class="row">
  <div class="col-md-12">
    <h1>Herramienta x</h1>
  </div>
  <div class="col-md-12">
    <form>
      <mat-form-field class="col-md-5">
        <input matInput type="text" name="name" id="name" [(ngModel)]="newExample.name" value="" placeholder="Nombre"/>
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <mat-select placeholder="Disciplina" [(ngModel)]="newExample.discipline"
                    name="discipline">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-5">
        <textarea matInput placeholder="Descripción" name="description" [(ngModel)]="newExample.description"></textarea>
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <mat-select placeholder="Estrategia pedagogica" [(ngModel)]="newExample.pedagogicStrategy"
                    name="pedagogicStrategy">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <textarea matInput placeholder="Instrucciones" name="Instrucciones"
                  [(ngModel)]="newExample.instructions"></textarea>
      </mat-form-field>
      <form [formGroup]="invoiceForm">
        <fieldset class="col-md-12 resource-table" formArrayName="itemRows">
          <legend>Recursos</legend>
          <div class="col-md-12" *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
            <mat-form-field class="col-md-5">
              <input matInput type="text" name="name" id="name" formControlName="name"
                     placeholder="Nombre"/>
            </mat-form-field>
            <mat-form-field class="col-md-5">
              <input matInput type="text" name="Enlace" id="Enlace" formControlName="link"
                     placeholder="Enlace"/>
            </mat-form-field>
            <button mat-mini-fab color="accent" (click)="deleteRow(i)"><i class="fas fa-trash"></i></button>
          </div>
        </fieldset>
      </form>
      <div class="col-md-12">
        <button mat-raised-button color="primary" (click)="addItem()">Agregar recurso</button>
      </div>
      <br><br>
      <div class="col-md-12">
        <button mat-raised-button color="primary" (click)="buildAndSend()">Guardar borrador</button>
        <button mat-raised-button color="accent" [mat-dialog-close]="true">Cancelar</button>
      </div>
    </form>
  </div>
</div>


