<!-- Banner -->
<div class="container">

  <section>
    <div>
      <h1>Conectate</h1>
      <p>Tecnología y estrategias pedagogicas para impulsar la educación<br /></p>
    </div>
    <!--<video autoplay loop muted playsinline src="assets/images/Rain_Fire.mp4"></video>-->
  </section>

  <!-- Highlights -->
  <section>
      <header>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="col-md-4">
              <input matInput type="text" name="herramienta" [(ngModel)]="filterargs" id="name" value="" placeholder="Herramientas, palabras clave" (keypress)="filterData(filterargs,$event.keyCode)" />
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Filtrar por sistema operativo" [(ngModel)]="strategyFilter">
                <mat-option value="GNU/Linux">GNU/Linux</mat-option>
                <mat-option value="Windows">Windows</mat-option>
                <mat-option value="Mac os">Mac os</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Limpiar filtros</button>
          </div>
        </div>
      </header>
      <div class="row">
        <mat-card class="col-md-3 transparencia margin-cards animated zoomIn" style="text-align: justify; margin-top: 3%;" *ngFor="let tool of toolsObject | toolsFilter:filterargs | strategyFilter:strategyFilter">
          <mat-card-title class="align-center">
            <h2>
              <a [routerLink]="['/herramienta/' +  tool.id + '/tutorial']" >{{tool.name}}</a>
            </h2>
            <i class="fas fa-cube "></i>
          </mat-card-title>
          <mat-card-content>
            <label style="font-size:12px;"> Palabras clave: {{tool.keyWords}}</label>
            <label style="font-size:12px;"> Estrategia pedagogica: {{tool.technicalDetails}}</label>
            <p>{{tool.description}}</p>
          </mat-card-content>
        </mat-card>

        <section class="col-md-12" *ngIf="(toolsObject | toolsFilter:filterargs | strategyFilter:strategyFilter).length === 0">
          <h3>¡No encontramos resultados para tu búsqueda!</h3>
          <img src="../../assets/images/perroBuscando.jpg" alt="no encontramos herramientas" height="200"
               class="animated bounce">
        </section>
      </div>
  </section>
</div>



<!--
<form>
  <h2>Herramientas para la educación</h2>
  <p>Encuentra toda la información necesaria sobre herramientas que pueden ayudarte a implementar nuevas estrategias de enseñanza.</p>
  <mat-form-field class="example-full-width">
    <input type="text" name="herramienta" [(ngModel)]="filterargs" id="name" value="" placeholder="Herramientas, palabras clave" (keypress)="filterData(filterargs,$event.keyCode)" />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Favorite food">
      <mat-option id="category" [(ngModel)]="strategyFilter">
        <option value="">Filtrar por sistema operativo</option>
        <option value="GNU/Linux">GNU/Linux</option>
        <option value="Windows">Windows</option>
        <option value="Mac os">Mac os</option>
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>-->
