<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>Conectate</h1>
    <p>Tecnología y estrategias pedagogicas para impulsar la educación<br /></p>
  </div>
  <video autoplay loop muted playsinline src="assets/images/Rain_Fire.mp4"></video>
</section>

<!-- Highlights -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Herramientas para la educación</h2>
      <p>Encuentra toda la información necesaria sobre herramientas que pueden ayudarte a implementar nuevas estrategias de enseñanza.</p>
      <div class="row gtr-uniform" id="searchFields">
        <div class="col-6 col-12-xsmall">
          <input type="text" name="herramienta" [(ngModel)]="filterargs" id="name" value="" placeholder="Herramientas, palabras clave" />
        </div>
        <div class="col-6 col-12-xsmall">
          <select name="category" id="category" [(ngModel)]="strategyFilter">
            <option value="">Filtrar por estrategia pedagogica</option>
            <option value="Online">Online</option>
            <option value="Aprendizaje virtual">Aprendizaje virtual</option>
            <option value="Distribucion de conocimientos">Distribucion de conocimientos</option>
            <option value="Opiniones del conocimiento">Opiniones del conocimiento</option>
            <option value="Dibujo creativo">Dibujo creativo</option>
            <option value="Aprendizaje autodidacta">Aprendizaje autodidacta</option>
          </select>
        </div>
      </div>
    </header>
    <div class="highlights">
      <section *ngFor="let tool of toolsObject | toolsFilter:filterargs | strategyFilter:strategyFilter">
        <div class="content">
          <header>
            <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
            <h3>{{tool.name}}</h3>
          </header>
          <label style="font-size:12px;"> Palabras clave: {{tool.keyWords}}</label>
          <label style="font-size:12px;"> Estrategia pedagogica: {{tool.pedagogicStrategy}}</label>
          <p>{{tool.description}}</p>
        </div>
      </section>
    </div>
  </div>
</section>
